{% macro h1(text, modifier) %}
	<h1 class="c-heading {{ modifier }}">{{ text }}</h1>
{% endmacro %}

{% macro h2(text, modifier) %}
	<h2 class="c-heading {{ modifier }}">{{ text }}</h2>
{% endmacro %}

{% macro h3(text, modifier) %}
	<h3 class="c-heading {{ modifier }}">{{ text }}</h3>
{% endmacro %}

{% macro h4(text, modifier) %}
	<h4 class="c-heading {{ modifier }}">{{ text }}</h4>
{% endmacro %}

{% macro h5(text, modifier) %}
	<h5 class="c-heading {{ modifier }}">{{ text }}</h5>
{% endmacro %}

{% macro h6(text, modifier) %}
	<h6 class="c-heading {{ modifier }}">{{ text }}</h6>
{% endmacro %}
